<!DOCTYPE html>
<html lang="en">
<body>


  <!-- ======= Header ======= -->
  <header>
    <%- include ('header/header.ejs') %>
  </header><!-- End Header -->


  <!-- Main 회사 소개 Section -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>ACE TECK에 오신걸 환영합니다.</h1>
      <h2>그동안 축척된 기술력과 지식을 바탕으로 고객에게 인정받고, 함께 성장하며, 밝은 미래의 동반자가 되겠습니다.</h2>
      <a href="/company" class="btn-get-started scrollto">회사 소개<i class="bx bx-chevron-right"></i></a>
    </div>
  </section><!-- 회사 소개 Section -->

  <main id="main">

    <!-- ======= Main 제품 설명 소개 Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>에이스텍</h3>
              <p>
                (주)에이스텍은 생산설비 자동화<br>(반도체/기타 생산라인) 관련 소프트웨어 및 하드웨어 개발 / 판매 /지원 사업<br><br> 위와 연관된 기타 하드웨어(Server관련) 및 Package 공급사업에 역점을 두고 있습니다. 
              </p>
              <div class="text-center">
                <a href="/product" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>소프트웨어</h4>
                    <p>반도체 / 기타 생산라인 관련 소프트웨어 개발 사업</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>하드웨어</h4>
                    <p>반도체 / 기타 생산라인 <br>하드웨어<br> 개발 / 판매 / 지원 사업</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>관련 사업</h4>
                    <p>기타 하드웨어(Server관련) 및 Package 공급사업</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- Main 제품 설명 소개 Section -->

    

    <!-- Main 각 제품 설명 소개 -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>PRODUCT</h2>
          <p>에이스텍의 제품</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="icofont-thunder-light"></i></div>
              <h4>통 신 모 듈</h4>
              <p style="font-weight: bold;"><pre>         [Communication Module]        </pre></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-server"></i></div>
              <h4>ATOM</h4>
              <p style="font-weight: bold;"><pre>         [AceTech Online Module]        </pre></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-radio"></i></div>
              <h4>RFID</h4>
              <p style="font-weight: bold;"><pre>    [Radio Frequency IDentification]   </pre></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="icofont-washing-machine"></i></div>
              <h4>RCS</a></h4>
              <p style="font-weight: bold;"><pre>        [Remote Control System]        </pre></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4>AST & BC</h4>
              <p style="font-weight: bold;"><pre>[Alarm Signal Transfer & Button Control]</pre></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="icofont-arrow-right"></i></div>
              <h4><a href="/product">자세히 보기</a></h4>
              <p style="font-weight: bold;"><pre>               [Details]               </pre></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- Main 각 제품 설명 소개 -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>에이스텍 오시는 길</p>
        </div>
      </div>

      <p style="margin-top:-12px">
        <em class="link">
            <a style="font-size:20px;" href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=500, height=550')">
            </a>
        </em>
    </p>
    <div id="map" style="width:45%;height:400px;margin-top:-2em; margin-left: auto; margin-right: auto;"></div>
    <br/>

      <div class="container">
        <div class="row" style="margin-top: 70px;">

          <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>주소</h3>
              <p>충청남도 천안시 서북구 월봉로 87 302호</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email</h3>
              <p>sales@iacetech.co.kr</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box ">
              <i class="bx bx-phone-call"></i>
              <h3>전화 번호</h3>
              <p>TEL. 041) 579 - 9449<br>FAX. 041) 579 - 0229</p>
            </div>
          </div>
        </div>
        
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <%- include ('footer/footer.ejs') %>
  </footer><!-- End Footer -->

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=&libraries=services"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services,clusterer,drawing"></script>
	<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };  
    
    // 지도를 생성합니다    
    var map = new kakao.maps.Map(mapContainer, mapOption); 
    
    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();
    
    // 주소로 좌표를 검색합니다
    geocoder.addressSearch('충청남도 천안시 서북구 월봉로 87', function(result, status) {
    
        // 정상적으로 검색이 완료됐으면 
         if (status === kakao.maps.services.Status.OK) {
    
            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
    
            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });
    
            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0; font-weight=bold;">에이스텍</div>'
            });
            infowindow.open(map, marker);
    
            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        } 
    });    
    </script>
		<!-- Scripts -->

</body>

</html>