<!DOCTYPE html>
<html lang="en">
    <body>
        <header>
            <%- include ('header/header.ejs') %>
        </header>
        <main>
            <!-- ======= Q & A Section ======= -->
            <section id="faq" class="faq section-bg">
                <div class="container">
        
                <div class="section-title">
                    <h2>Q & A</h2>
                    <p>에이스텍에 대해 자주 질문하시는 내용과 답변을 모았습니다.</p>
                </div>
        
                <div class="faq-list">
                    <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">에이스텍 전화 번호가 궁금합니다.<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                        <p>
                           TEL. 041) 579 - 9449로 연락 주시면 됩니다.<br>
                        </p>
                        </div>
                    </li>
        
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">에이스텍 팩스 번호가 궁금합니다.<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                        <p>
                            FAX. 041) 579 - 0229로 보내 주시면 됩니다.
                        </p>
                        </div>
                    </li>
        
                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">에이스텍 E-Mail이 궁금합니다.<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                        <p>
                            sales@iacetech.co.kr로 보내 주시면 됩니다.
                        </p>
                        </div>
                    </li>
        
                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">에이스텍 주소가 어디 인가요?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                        <p>
                            충청남도 천안시 서북구 월봉로 87 302호로 오시면 됩니다.
                        </p>
                        </div>
                    </li>
        
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">에이스텍 영업시간이 어떻게 되나요?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                        <p>
                            오전 09시 ~ 오후 06시 까지 입니다.
                        </p>
                        </div>
                    </li>
        
                    </ul>
                </div>
        
                </div>
            </section><!-- Q & A Section -->
        </main>
        <footer>
            <%- include ('footer/footer.ejs') %>
        </footer>
    </body>
</html>